
<div class="champs_requis">{% trans %}champs_requis{% endtrans %}</div>

<div class="well">
    
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {% set label %}{% trans %}ajout_matiere.col.annee{% endtrans %} *{% endset %}
        {{ form_label(form.annee, label, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.annee) }}
        <div class="col-sm-4">
            {{ form_widget(form.annee, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {% set label %}{% trans %}ajout_matiere.col.poste{% endtrans %} *{% endset %}
        {{ form_label(form.poste, label, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.poste) }}
        <div class="col-sm-4">
            {{ form_widget(form.poste, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {% set label %}{% trans %}ajout_matiere.col.entreprise{% endtrans %} *{% endset %}
        {{ form_label(form.entreprise, label, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.entreprise) }}
        <div class="col-sm-4">
            {{ form_widget(form.entreprise, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {% set label %}{% trans %}ajout_matiere.col.detail{% endtrans %} *{% endset %}
        {{ form_label(form.detail, label, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.detail) }}
        <div class="col-sm-4">
            {{ form_widget(form.detail, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {% set label %}{% trans %}ajout_matiere.col.lieu{% endtrans %} *{% endset %}
        {{ form_label(form.lieu, label, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.lieu) }}
        <div class="col-sm-4">
            {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {% set label %}{% trans %}ajout_formation.col.competence{% endtrans %}{% endset %}
        {{ form_label(form.competence, label, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.competence) }}
        <div class="col-sm-4">
            {{ form_widget(form.competence, {'attr': {'class': 'form-control multiple_select'} }) }}

        </div>
    </div>

    {% set label %}{% trans %}ajout_matiere.bouton_valider{% endtrans %}{% endset %}
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': label }) }}
    <a class="btn btn-default" href="{{ path('exia_core_experience')}}">{% trans %}ajout_matiere.bouton_annuler{% endtrans %}</a>


    {{ form_rest(form) }}
    {{ form_end(form) }}
    
</div>