<br>
<div class="well">
    
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {% set label %}{% trans %}ajout_categoriecompetence.col.categorie{% endtrans %} *{% endset %}
        {{ form_label(form.categorie, label, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.categorie) }}
        <div class="col-sm-4">
            {{ form_widget(form.categorie, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    

    {% set label %}{% trans %}bouton.valider{% endtrans %}{% endset %}
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': label }) }}
    <a class="btn btn-default" href="{{ path('exia_core_ajout_competence')}}">{% trans %}bouton.annuler{% endtrans %}</a>


    {{ form_rest(form) }}
    {{ form_end(form) }}
    
</div>