{% extends "ExiaCoreBundle::layout.html.twig" %}

{% block title %}
    
    {% trans %}liste_formation.titre{% endtrans %} - {{ parent() }}
    
{% endblock %}

{% block body %}
    
<h1 class="page-header">{% trans %}liste_formation.titre{% endtrans %}
    <a  href="{{ path('exia_core_ajout_formation') }}" >
        <span title="{% trans %}tooltip.ajout{% endtrans %}" class="lefted glyphicon glyphicon-plus-sign glyph_color"></span>
    </a>
</h1>
    


<div class="tab-content">
    

    <table id="table-matiere" class="table table-condensed top-spacer-10 tablesorter-bootstrap">

        <thead>
            <tr>

                <th>{% trans %}ajout_formation.col.annee{% endtrans %}</th>
                <th>{% trans %}ajout_formation.col.titre{% endtrans %}</th>
                <th>{% trans %}ajout_formation.col.diplome{% endtrans %}</th>
                <th>{% trans %}ajout_formation.col.lieu{% endtrans %}</th>
                <th>{% trans %}ajout_formation.col.descriptif{% endtrans %}</th>
                <th class="sorter-false small-column"></th>
                <th class="sorter-false small-column"></th>
           

            </tr>
        </thead>

        <tbody>

            {% for formation in formations %}
                <tr>
                    <td>{{ formation.annee }}</td>
                    <td>{{ formation.titre }}</td>
                    <td>{{ formation.diplome }}</td>
                    <td>{{ formation.lieu }}</td>
                    <td>{{ formation.descriptif }}</td>
                    <td class="centered-column-content">
                        <a  href="{{ path('exia_core_editer_formation', { 'id'  : formation.id }) }}" >
                            <span title="{% trans %}tooltip.editer{% endtrans %}" class="glyphicon glyphicon-edit pointable tooltip_editer"></span>
                        </a>
                    </td>
                    <td class="centered-column-content">
                        <a  href="{{ path('exia_core_supprimer_formation', { 'id'  : formation.id }) }}" >
                            <span title="{% trans %}tooltip.supprimer{% endtrans %}" class="glyphicon glyphicon-remove delete pointer tooltip_suppression"></span>
                        </a>
                    </td>
                
                 
                </tr>
            {% endfor %}

        </tbody>

    </table>
       
</div>

{% endblock %}


