{% extends 'ExiaCoreBundle::layout.html.twig' %}
{% block body %}
<h1 class="page-header">{% trans %}portfolio.utilisateur{% endtrans %}  {{ profil.nom }}
        {{ profil.prenom }}
        <a href="#" class="btn btn-large btn-danger" data-toggle="popover" title="" data-placement="bottom" data-content="localhost/ExiaFolio2/web/app_dev.php/portfolio/visualiser/{{profil.id}}" data-original-title="Lien du PortFolio">Lien du PortFolio</a></h1>
    <div id="personnalisation">
        <img src="{{ profil.illustration }}" alt="Illustration">
        <p id="message">{{ profil.message }}</p>
    </div>
<h1 class="page-header">{% trans %}portfolio.profil{% endtrans %}</h1>
    <div id="coordonnees">
        Adresse: {{ profil.adresse }}<br>
        Mail: {{ profil.mail }}<br>
        Tel: 0{{ profil.tel }}
    </div>
<h1 class="page-header">{% trans %}portfolio.experiences{% endtrans %}</h1>    
    <div id="experiences">
        {% for experience in experiences %}
            <tr>
                Année de l'experience: <td>{{ experience.annee }}</td>
                dans l'entreprise : <td>{{ experience.entreprise }}</td><br>
                Ville : <td>{{ experience.lieu }}</td><br>
                Poste : <td>{{ experience.poste }}</td><br>
                Détail : <td>{{ experience.detail }}</td>
                {% if  experience.competence %}
                    <br>Compétence Acquise : <td>{{ experience.competence.nom}}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr><br><br>
        {% endfor %}
    </div>
<h1 class="page-header">{% trans %}portfolio.formations{% endtrans %}</h1>  
    <div id="formations">
        {% for formation in formations %}
            <tr>
               Diplome obtenue : <td>{{ formation.diplome }}</td> ->
                Titre de la formation : <td>{{ formation.titre }}</td><br>
                Année : <td>{{ formation.annee }}</td>
                Lieu : <td>{{ formation.lieu }}</td><br>
                Description : <td>{{ formation.descriptif }}</td>
            </tr><br><br>
        {% endfor %}
    </div>
<h1 class="page-header">{% trans %}portfolio.projets{% endtrans %}</h1>  
    <div id="projets">
        {% for projet in projets %}
            <tr>
                
                Nom : <td>{{ projet.nom }} </td><br>
                Description : <td>{{ projet.description }}</td><br>
                Lien du projet : <td>{{ projet.lien }}</td><br>
                Telechargement du projet : <td>{{ projet.telechargement }}</td><br>
            </tr><br><br>
        {% endfor %}
    </div>
<h1 class="page-header">{% trans %}portfolio.competences{% endtrans %}</h1> 
    <div id="competences">
        {% for competence in competences %}
            
                <tr>
                    Nom : <td>{{ competence.nom }}</td><br>
                    Categorie : <td>{{ competence.categorieCompetences.categorie }} </td> <br>
                    Niveau : <td>{{ competence.niveau }}</td>
                </tr><br><br>
            
        {% endfor %}
    </div>
{% endblock %}
{% block appendablejs %}

<script type="text/javascript">
$("[data-toggle=popover]").popover();
</script>

{% endblock %}