{% extends 'ExiaCoreBundle::layout.html.twig' %}
{% block body %}
<h1 class="page-header">{% trans %}portfolio.utilisateur{% endtrans %}  {{ profil.nom }}
        {{ profil.prenom }}</h1>
    <div id="personnalisation">
        <img src="{{ profil.illustration }}" alt="Illustration">
        <p id="message">{{ profil.message }}</p>
    </div>
<h1 class="page-header">{% trans %}portfolio.profil{% endtrans %}</h1>
    <div id="coordonnees">
        {{ profil.adresse }}<br>
        {{ profil.mail }}<br>
        0{{ profil.tel }}
    </div>
<h1 class="page-header">{% trans %}portfolio.experiences{% endtrans %}</h1>    
    <div id="experiences">
        {% for experience in experiences %}
            <tr>
                <td>{{ experience.annee }}</td>
                <td>{{ experience.entreprise }}</td><br>
                <td>{{ experience.lieu }}</td><br>
                <td>{{ experience.poste }}</td><br>
                <td>{{ experience.detail }}</td>
            </tr><br><br>
        {% endfor %}
    </div>
<h1 class="page-header">{% trans %}portfolio.formations{% endtrans %}</h1>  
    <div id="formations">
        {% for formation in formations %}
            <tr>
                <td>{{ formation.annee }}</td>
                <td>{{ formation.titre }}</td><br>
                <td>{{ formation.lieu }}</td><br>
                <td>{{ formation.diplome }}</td><br>
                <td>{{ formation.descriptif }}</td>
            </tr><br><br>
        {% endfor %}
    </div>
<h1 class="page-header">{% trans %}portfolio.projets{% endtrans %}</h1>  
    <div id="projets">
        {% for projet in projets %}
            <tr>
                
                <td>{{ projet.nom }} </td><br>
                <td>{{ projet.description }}</td><br>
                <td>{{ projet.lien }}</td><br>
                <td>{{ projet.telechargement }}</td><br>
            </tr><br><br>
        {% endfor %}
    </div>
<h1 class="page-header">{% trans %}portfolio.competences{% endtrans %}</h1> 
    <div id="competences">
        {% for competence in competences %}
            
                <tr>
                    <td>{{ competence.nom }}</td><br>
                    <td>{{ competence.categorieCompetences.categorie }} </td> ->
                    <td>{{ competence.niveau }}</td>
                </tr><br><br>
            
        {% endfor %}
    </div>
{% endblock %}
